<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>회원정보 수정</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">비밀번호 변경</h1>
            <script>
                function memberModifyPasswordForm__submit(form) {
                    form.oldPassword.value = form.oldPassword.value.trim();

                    if (form.oldPassword.value.length == 0) {
                        warningModal("현재 비밀번호를 입력해주세요.");
                        form.oldPassword.focus();

                        return;
                    }

                    form.password.value = form.password.value.trim();

                    if (form.password.value.length == 0) {
                        warningModal("변경할 비밀번호를 입력해주세요.");
                        form.password.focus();

                        return;
                    }

                    form.passwordConfirm.value = form.passwordConfirm.value.trim();

                    if (form.passwordConfirm.value.length == 0) {
                        warningModal("변경할 비밀번호를 재확인해주세요.");
                        form.passwordConfirm.focus();

                        return;
                    }

                    form.submit();
                }

            </script>


            <form th:action method="POST" onsubmit="memberModifyPasswordForm__submit(this); return false;">
                <div>
                    <span>현재 비밀번호</span>
                    <input type="text" name="oldPassword" placeholder="현재 비밀번호 입력" />
                </div>
                <div>
                    <span>변경할 비밀번호</span>
                    <input type="text" name="password" placeholder="변경할 비밀번호 입력" />
                </div>
                <div>
                    <span>변경할 비밀번호 확인</span>
                    <input type="text" name="passwordConfirm" placeholder="변경할 비밀번호 재입력" />
                </div>

                <div>
                    <input class="btn btn-primary" type="submit" value="수정">
                    <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">취소</button>
                </div>
            </form>
        </div>
    </section>

</main>
</body>
</html>