<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 상세페이지</title>
</head>

<body>
<main layout:fragment="main">
    <section>
        <div class="container">
            <h1>글 상세페이지</h1>

            [[${article}]]
        </div>

        <div class="grid grid-cols-2 mt-2 gap-2">
            <button type="button" th:onclick="|location.href='@{|/article/${article.id}/modify|}'|" class="btn btn-secondary btn-outline">수정</button>
            <button type="button" th:onclick="|location.href='@{|/article/${article.id}/delete|}'|" class="btn btn-secondary btn-outline">삭제</button>
        </div>
    </section>
</main>
</body>
</html>