<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 리스트</title>
</head>

<body>
<main layout:fragment="main">
    <section>
        <div class="container">
            <h1>글 리스트</h1>
            <ul>
                <li th:each="article : ${articles}" class="flex gap-2 items-center">
                    <a th:href="@{|/post/${article.id}|}" th:text="|번호 : ${article.id}|">
                    </a>

                    <a th:href="@{|/post/${article.id}|}" th:text="|제목 : ${article.title}|">
                    </a>

                    <a th:href="@{|/post/${article.id}|}" th:text="|작성자 : ${article.author.username}|">
                    </a>

                    <a th:href="@{|/post/${article.id}|}" th:text="|수정날짜 : ${article.modifyDate}|">
                    </a>

                    <a th:href="@{|/post/${article.id}|}" th:text="|내용 : ${article.content}|">
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" th:onclick="|location.href='@{/post/write}'|" class="btn btn-secondary btn-outline">글 작성</button>
    </section>
</main>
</body>
</html>