<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>게시글 목록</title>
</head>

<body>
<main layout:fragment="main">
    <section>
        <div class="container">
            <h1>게시글 목록</h1>
            <ul>
                <li th:each="article : ${articles}" class="flex gap-2 items-center">
                    <a th:href="@{|/article/${article.id}|}" th:text="|번호 : ${article.id}|">
                    </a>

                    <a th:href="@{|/article/${article.id}|}" th:text="|제목 : ${article.title}|">
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" th:onclick="|location.href='@{/article/write}'|" class="btn btn-secondary btn-outline">게시글 작성</button>
    </section>
</main>
</body>
</html>