<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<body>
<main layout:fragment="main">
    <form th:action method="POST">
        <div>
            <div class="title">
                제목
                <input type="text" name="title" />
            </div>
        </div>
        <div>
            <div class="content">
                내용
                <textarea name="content"></textarea>
            </div>
        </div>
        <div>
            <span>글쓰기</span>
            <input type="submit" value="작성" />
        </div>
    </form>
</main>
</body>
</html>