<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>글 작성</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-write container mx-auto">

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">글 작성</h1>

            <script>
                let ArticleWrite__submitDone = false;

                function ArticleWrite__submit(form) {
                    if (ArticleWrite__submitDone) {
                        return;
                    }

                    form.subject.value = form.subject.value.trim();

                    if (form.subject.value.length == 0) {
                        warningModal("제목을 입력해주세요.");
                        form.subject.focus();

                        return;
                    }

                    const editor = $(form).find(".toast-ui-editor").data("data-toast-editor");

                    const markdown = editor.getMarkdown();
                    console.log(markdown);
                    form.content.value = markdown.trim();

                    if (form.content.value.length == 0) {
                        warningModal("내용을 입력해주세요.");
                        editor.focus();

                        return;
                    }

                    form.submit();
                    ArticleWrite__submitDone = true;
                }
            </script>


            <form th:action method="POST" class="flex flex-col gap-3"
                  onsubmit="ArticleWrite__submit(this); return false;">
                <input type="hidden" name="content" />
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">제목</span>
                    </label>
                    <input autofocus type="text" name="subject" placeholder="제목" class="input input-bordered"
                           maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">내용</span>
                    </label>

                    <div class="toast-ui-editor" toast-ui-editor--height="700px" toast-ui-editor--placeholder="내용을 입력해주세요."></div>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">해시태그</span>
                    </label>
                    <input autofocus type="text" name="hashTagContents" placeholder="#태그1 #태그2 #태그3" class="input input-bordered"
                           maxlength="50">
                </div>

                <div class="grid grid-cols-2 mt-2 gap-2">
                    <input class="btn btn-primary" type="submit" value="글 작성">
                    <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline">취소</button>
                </div>
            </form>
        </div>

        </div>
    </section>

</main>
</body>
</html>